.coin {
    color: goldenrod;
}

#inventoryContainer {
    height: -webkit-fill-available;
    padding: 30px;
}

#inventoryContainer span, .ballInventory h4 {
    font-size: smaller;
    font-weight: 700;
    vertical-align: super;
}

.notBallInventory {
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    top: 30px;
    width: 480px; */
}

.notBallInventory img {
    width: 29px;
}

.ballInventory {
    padding: 38px 0;
    position: absolute;
    top: 100px;
    left: 30px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    height: 370px;
    width: 440px;
    background: #4e4e4e26;
    border: 3px solid #7ca2ad;
    /* box-shadow: 0px 0px 3px 0px #dadce0; */
    border-radius: 5px;
    box-sizing: border-box;
}

.ballInventory div {
    padding: 25px 0;
    margin: 23px 7.85px 0;
    height: 40px;
    flex: 0 0 20%;
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: center 26px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    border: 3px outset white;
    border-radius: 5px;
}

.ballInventory div img {
    height: 100%;
}

.ballInventory .itemCount {
position: absolute;
    bottom: 0;
    left: 4px;
    padding: 0 3px;
    /* border: 1px solid #2f325c; */
    border-radius: 9px;
    font-size: 11px;
    /* background: #7277b9; */
    color: #838383;
}

div .RM {
    width: 90px;
}

/* 볼 이미지 */
/* .ballInventory div[type="1"] {
    background-image: url('../static/balls/1.png');
}

.ballInventory div[type="2"] {
    background-image: url('../static/balls/2.png');
}
.ballInventory div[type="3"] {
    background-image: url('../static/balls/3.png');
}

.ballInventory div[type="4"] {
    background-image: url('../static/balls/4.png');
}

.ballInventory div[type="5"] {
    background-image: url('../static/icons/RM.png');
} */