.selectContainer {
    width: inherit;
    height: 117px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    position: relative;
}

.levelUpContainer {
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
}

.scItem {
    width: 117px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #8e8fa2;
    box-shadow: 0px 0px 3px 0px #dadce0;
}

.selectPoke {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scItem div:nth-child(1) div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

#pokemonSort {
    position: absolute;
    top: 126px;
    right: 3px;;
}

.listContainer {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    height: 293px;
    margin: 0 10px;
    padding: 0;
    overflow: scroll;
}

.lsItem{
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 0px 3px 0px #dadce0;
}

.lsItem div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding: 1px 2px;
}

.lsItem div:nth-child(2) {
    text-align: center;
}

.selectBtn {
    top: 121px;
    width: 70px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    background: #6c6fa5;
    color: white;
    position: absolute;
    right: 0;
}

.reSelect {
    left: 111px;
}

.levelup {
    right: 111px;
}