.container {
    border: 1px solid black;
    height: 150px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.pokeContainer {
    white-space: nowrap;
}

.pokemonCard {
    display: inline-block;
    width: 98px;
    height: 120px;
    text-align: center;
}
.pokemonCard img {
    width: 100%;
    height: auto;
    margin-top: -20px;
    margin-bottom: -20px;
}

.pokemonCard p:nth-child(1) {
    /* name */
    font-weight: bold;
}

.pokemonCard p:nth-child(2) {
    /* percent */
    font-size: 6pt;
}

.dragPokemon {
    height: 120px;
}

.rmImg {
    width: 100px;
}

.using {
    position: relative;
    height: 140px;
    background: url('../static/icons/RM.png') no-repeat center top / 100px;
}

.usingImg {
    animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}

@keyframes motion {
    0% {margin-top: 0px;}
    100% {margin-top: 10px;}
}
.hidden {
    display: none;
}

.percentDiv {
    margin-left: 5%;
    width: 90%;
    font-size: 7pt;
    height: 10px;
    line-height: 10px;
    color: white;
    background: #d94141;
    border-radius: 7px;
    overflow: hidden;
}

.percentInnerDiv {
    background-color: #21a154;
}