.runMenuContainer {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    list-style: none;
    background: #e3e2e2;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.runMenuContainer li {
    width: 67px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.runMenuContainer li:hover {
    background: #85869d;
}

.runMenuContainer li:hover a {
    color: white;
}

/* 선택된 페이지일 경우 */
.selected {
    background: #2f325c;
}
.selected a {
    color: white;
}
