.runMenuContainer {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    list-style: none;
    background: #e3e2e2;
    border-radius: 5px;
    overflow: hidden;
}

.runMenuContainer li {
    display: inline-block;
    width: 67px;
    height: 30px;
    text-align: center;
    line-height: 33px;
}

/* 선택된 페이지일 경우 */
.selected {
    background: #2f325c;
}
.selected a {
    color: white;
}
