.content {
    flex-direction: column;
}

#catchContainer {
    background: url(./icons/catchBackground.jpeg);
    background-size: 500px 360px;
    background-repeat: no-repeat;
    width: max-content;
}

#catchDiv {
    width: 500px;
    height: 300px;

    position: relative;
}

.pokemon {
    position: absolute;
    width: 96px;
    height: 96px;
    /* transform: scale(1.5); */
    cursor: pointer;
    user-select: none;
}

#catchBtns {
    width: 100%;
    text-align: center;
}

.ball.select {
    border: 3px solid #666;
    margin: -2px;
    background-color: #eee;
}
.ball {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #aaa;
    padding: 3px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center center;
}
.ball[ball_id="1"] {
    background-image: url(../static/balls/1.png);
}
.ball[ball_id="2"] {
    background-image: url(../static/balls/2.png);
}
.ball[ball_id="3"] {
    background-image: url(../static/balls/3.png);
}
.ball[ball_id="4"] {
    background-image: url(../static/balls/4.png);
}
.hidden {
    display: none;
}

.catchBtn {
    padding: 3px 10px;
    border: 1px solid black;
    background: white;
    font-weight: bold;
    font-size: 15pt;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

/* 잡기 결과 */
#catchResultPopUp {
    display: none;
    position: absolute;
    height: 302px;
    width: 100%;
    top: 0px;
}

#popupText {
    position: absolute;
    height: 100px;
    width: 100%;
    background: #000000d1;
    top: 100px;
    color: white;
    font-size: 40pt;
    text-align: center;
    line-height: 100px;

    cursor: default;
    user-select: none;
    
}

#catchResultPopUp.popped {
    display: block;
}