#trainingContainer {
  position: relative;
  margin: 60px 0 10px;
  height: 430px;
  overflow-y: hidden;
}

#listContainer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  height: 275px;
  margin: 0 5px 0 10px;
  padding: 0;
  overflow-y: hidden;
}

.poke_top {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.training {
  left: 206px;
}
