/* 스크롤 바 숨기기 */
/* ::-webkit-scrollbar {
    display: none;
} */

.container {
    height: 100px;
    margin: 10px 10px 0 10px;
    padding: 4px 2px;
    background: #fbfbfb;
    box-shadow: 0px 0px 3px 0px #dadce0;
    border-radius: 5px;
}

.container h5 {
    padding: 0 5px;
}

.working {
    position: relative;
}

.resting {
    float: right;
}

.working, .resting {
    display: inline-block;
    width: 230px;
    height: 266px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 3px;
}

.working .pokeContainer, .resting .pokeContainer {
    flex-wrap: wrap;
    height: 241px;
}

.working img {
    margin-top: -20px;
    margin-bottom: -20px;
}

.resting img, .default img {
    width: 85px;
    height: 85px;
    margin-top: -5px;
}

.container span {
    position: absolute;
    top: 3px;
    right: 0;
    border-radius: 5px;
    padding: 1px 4px;
    color: #2f325c;
    font-weight: 500;
}

.default {
    height: 153px;
    margin: 10px;
}

.default .pokeContainer {
    height: 138px;
}
.pokeContainer {
    display: flex;
    height: 136px;
    width: auto;
    overflow: scroll;
}

.pokemonCard, .rm img {
    width: 98px;
    height: 123px;
    text-align: center;
    margin: 7.5px;
}

.pokemonCard p.name {
    font-weight: bold;
}

.pokemonCard p.percent {
    font-size: 6pt;
}

.pokemonCard p.level {
    font-size: 7pt;
    margin-top: -45px;
    margin-left: -40px;
}

.rmImg {
    width: 100px;
}

.emptyBlockForUsingImg {
    width: 98px;    /* pokemonCard width와 같은 사이즈*/
    height: 85px;
    margin-bottom: -20px;
    margin: 0px;
}

.using {
    height: 123px;
    position: relative;
    background: url('../static/icons/RM.png') no-repeat center 3px / 100px;
}

.usingImg {
    position: absolute;
    top: 10px;
    left: 0;

    /* 통통 튀는 애니메이션 */
    animation: motion 0.3s linear 0s infinite alternate;
}

.usingImg:before {
    content: '';
    width: 98px;
    height: 98px;
    background: black;
}
@keyframes motion {
    0% {top: 10px;}
    100% {top: 20px;}
}
.hidden {
    display: none;
}

/* 체력바 */
.percentDiv {
    margin-left: 5%;
    width: 90%;
    font-size: 7px;
    height: 11px;
    color: white;
    background: #d94141;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

/* 진행바 */
.percentDiv .percentInnerDiv {
    height: 100%;
    background-color: #21a154;
}

/* Text */
.percentDiv .percentLabelDiv {
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
}