.content {
    flex-direction: column;
}

#catchContainer {
    background: url(./icons/catchBackground.jpeg);
    background-size: 500px 360px;
    background-repeat: no-repeat;
    width: max-content;
}

#catchDiv {
    /* background-color: skyblue; */
    /* background: url('./icons/catchBackground.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    width: 500px;
    height: 300px;

    position: relative;
}

.pokemon {
    position: absolute;
    width: 96px;
    height: 96px;
    transform: scale(1.5);
}

#catchBtns {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: end;
}

.ball.select {
    border: 2px solid black;
}
.ball {
    cursor: pointer;
    border: 1px solid #eee;
    padding: 3px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center center;
}
.ball[ball_id="1"] {
    background-image: url(../static/balls/1.png);
}
.ball[ball_id="2"] {
    background-image: url(../static/balls/2.png);
}
.ball[ball_id="3"] {
    background-image: url(../static/balls/3.png);
}
.ball[ball_id="4"] {
    background-image: url(../static/balls/4.png);
}
.hidden {
    display: none;
}