.selectContainer {
    width: inherit;
    height: 117px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    position: relative;
}

.levelUpContainer {
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
}

.scItem {
    width: 117px;
    border: 1px solid;
    text-align: center;
}

.selectPoke {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scItem div:nth-child(1) div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

#pokemonSort {
    position: absolute;
    top: 126px;
    right: 3px;;
}

.listContainer {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    height: 293px;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.lsItem{
    width: 115px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    margin: 3.9px;
}

.lsItem div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.lsItem div:nth-child(2) {
    text-align: center;
}

.selectBtn {
position: absolute;
top: 122px;
}

.reSelect {
left: 113px;
}

.levelup {
left: 325px;
}