body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#registerContainer {
    position: relative;
    display: flex;
    width: 550px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
}

#registerContainer form {
    width: -webkit-fill-available;
    height: 360px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    margin-top: 45px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 13px;
    height: 50px;
    border: 1px solid #c6c6c6;
}

.inputs i {
    transform: scale(1.1);
    color: #c6c6c6;
    width: 23px;
}

.inputEle {
    height: 50px;
    width: 100%;
    border: 0;
    outline: none;
}

input[type="button"] {
    border: 0;
    height: 50px;
}

.infoEle {
    font-size: 12px;
}