/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/* default */
* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: black;
}
/* background */
/* header */
/* user info */
div#user_info {
    position: absolute;
    left: 15px;
    top: 15px;
    border: 3px solid #aaa;
    width: 200px;
    height: 63px;
    background: white;
    border-radius: 38px;
}
div#user_info div#user_icon {
    display: inline-block;
    border: 3px solid #aaa;
    width: 63px;
    height: 63px;
    margin-top: -3px;
    margin-left: -3px;
    border-radius: 50%;
    background-image: url(../static/images/25.png);
    background-position: center;
    background-size: 310px;
    background-position-x: -96px;
    background-position-y: -96px;
    background-repeat: no-repeat;
}

div#user_info p#user_name {
    position: relative;
    top: -70px;
    left: 85px;
}
div#user_info p#user_money {
    position: relative;
    top: -70px;
    left: 85px;
}

nav#header {
    width: 100%;
    height: 70px;
    position: fixed;
}

#header > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 15px;
}

#header ul li {
    display: inline-block;
    border-bottom: 2px solid #aaa;
    text-align: center;
    width: 90px;
    margin-right: 5px;
    line-height: 50px;
}

#header ul li a {
    font-weight: bold;
    font-size: 18pt;
}

/* content */
#content {
    margin-top: 100px;
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 50%;
    margin-left: -640px;
    overflow-y: scroll;
}

/* Icons */
nav#header ul li img {
    width: 55px;
    height: auto;
}

.shopContent {
    display: flex;
    flex-wrap: wrap;
}

.shopItem {
    flex: 1 1 40%;
}

.shopItem > .buyBall {
    display: block;
}