<!DOCTYPE html>
<title>zzangpika</title>
<!-- fontawesome icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='pokemonCatch.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='pokemonList.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='shop.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='pokemonLevelUp.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='pokemonRun.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='pokemonTraining.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='myInventory.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='pokemonRunMenu.css') }}" />

<script src="../static/common.js"></script>

<div id="username" style="display: none;">{{ username }}</div>
<nav id="menu">
    <i class="fas fa-bars"></i>
    <ul>
        {% if username != False %}
        <li>
                <!-- nickName -->
                <p id="user_name">{{ username }} 님</p>
        </li>
        <li>
                <a href="/logout">로그아웃</a>
        </li>
        <li class="routeMenu">
            <a href="/">
                홈
            </a>
        </li>
        <li class="routeMenu">
            <a href="/pokemonCatch">
                찾기
            </a>
        </li>
        <li class="routeMenu">
            <a href="/pokemonRun">
                포켓몬
            </a>
        </li>
        <li class="routeMenu">
            <a href="/pokemonList">
                도감
            </a>
        </li>
        <li class="routeMenu">
            <a href="/myInventory">
                가방
            </a>
        </li>
        <li class="routeMenu">
            <a href="/shop">
                상점
            </a>
        </li>
        {% else %}
        <li>
            <a href="/login">로그인</a>
        </li>
        {% endif %}
    </ul>
</nav>
<section id="content">
    {% block content %}{% endblock %}
</section>

{% block js %}{% endblock %}
<script src="../static/base.js"></script>