<!DOCTYPE html>
<title>zzangpika</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/common.js"></script>

<nav class="header">
    <ul>
        <li>
            <a href="/">
                로고
            </a>
        </li>
        <li>
            <a href="/myPokemon">
                보유 포켓몬
            </a>
        </li>
        <li>
            <a href="/pokemonCatch">
                포켓몬 잡기
            </a>
        </li>
        <li>
            <a href="/pokemonList">
                포켓몬 도감
            </a>
        </li>
        <li>
            <a href="/pokemonRun">
                포켓몬 일 시키기
            </a>
        </li>
        <li>
            <a href="/inventory">
                가방
            </a>
        </li>
        <li>
            <a href="/shop">
                상점
            </a>
        </li>
        <li>
            {% if username != False %}
                {{ username }}
                <a href="/logout">로그아웃</a>
            {% else %}
                <a href="/login">로그인</a>
            {% endif %}
        </li>
    </ul>
</nav>
<section class="content">
    {% block content %}{% endblock %}
</section>
