{%  extends 'base.html' %}

{% block content %}
    <style>
        .content {
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
        }

        #catchDiv {
            background-color: skyblue;
            width: 800px;
            height: 500px;

            position: relative;
        }

        .pokemon {
            position: absolute;
            width: 96px;
            height: 96px;
        }

    </style>
    <div id="catchDiv"></div>
    <button class="catchBtn">잡기</button>

    {% for _id in userball %}
    {% if loop.index == 1 %}
        <div class="ball select" ball_id={{ loop.index }} >
    {% else %}
        <div class="ball" ball_id={{ loop.index }} >
    {% endif %}
            <div class="ball_name">{{ _id['name'] }}</div>
            <div class="ball_amount">{{ _id['amount'] }}</div>
        </div>
    {% endfor %}
    <script>
        const catchEle = getID('catchDiv');
        const catchBtn = getClass('catchBtn')[0];

        // 잡기 버튼 클릭
        catchBtn.addEventListener('click', getPokemon)

        async function getPokemon(){
            catchEle.innerHTML = ''

            // get pokemonList
            const res = await fetch('/catch', {
                    method: 'POST',
                    cache: 'no-cache',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: new URLSearchParams({ 
                        post_id: 'comePokemon'
                    })
                });
            const data = await res.json();

            data.map(poke => {
                const img = document.createElement("img");
                img.setAttribute('class', 'pokemon');
                img.setAttribute('pokemon_id', poke[0]);
                img.setAttribute('pokemon_percent', poke[1]);
                
                img.src = "../static/images/" + poke[0] + ".png";
                
                const randomX = Math.random() * (catchEle.offsetWidth - 96);
                const randomY = Math.random() * (catchEle.offsetHeight - 96); 

                img.style.left = randomX+"px";
                img.style.top = randomY+"px";

                catchEle.appendChild(img);
            });

            [...getClass('pokemon')].map(poke => {
                poke.addEventListener('click', catchPokemon)
            });
        }

        // catch pokemon
        let numberOfTry = 1;
        async function catchPokemon(e){
            const ballType = getClass('select')[0].getAttribute('ball_id')
            const catchRes = await fetch('/catch', {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({ 
                    post_id: 'catchPokemon',
                    ballType: ballType,
                    pokemonId: e.target.getAttribute('pokemon_id'), 
                    percent: e.target.getAttribute('pokemon_percent'), 
                    numberOfTry: numberOfTry
                })
            });
            const catchData = await catchRes.json();
            if (catchData.result === true) alert('성공')
            else if (catchData.result == false) alert('포켓볼이 부족합니다.')
            else if (catchData.result == 'run') alert('도망갔다!')
            else {
                alert('실패')
                numberOfTry = Number(catchData.result);
            }

            // 포켓볼이 부족하지 않은 경우 -1
            if (catchData.result != false) getClass('select')[0].children[1].innerHTML -= 1;
            getPokemon()
        }
        
        // ball select
        [...getClass('ball')].map(b => {
            b.addEventListener('click', () => {
                for (let i=0; i<[...getClass('ball')].length; i++) {
                    if ([...getClass('ball')][i].classList.contains('select')) [...getClass('ball')][i].classList.remove('select')
                }
                if (b.getAttribute('ball_id')) b.classList.add('select')
            })
        });
    </script>
{% endblock %}