{% extends 'base.html' %}

{% block content %}
<div id="inventoryContainer">
    <div class="notBallInventory">
        <!-- 코인 -->
        <section class="coin">
            <div>{{ inventory['0']['amount'] }} coin</div>
        </section>
        <!-- 가방 사이즈 -->
        <section>
            <div>{{ inventory['999']['remain'] }} / {{ inventory['999']['amount'] }}</div>
        </section>
    </div>

    <div class="ballInventory">
    {% for _ball in range(1, 5) %}
        {% if inventory[_ball|string]['amount'] > 0 %}
        <div type={{ _ball }}>
            <img src="../static/balls/{{ _ball }}.png" />
            <!-- <span>{{ inventory[_ball|string]['name'] }}</span> -->
            <span class="itemCount">x{{ inventory[_ball|string]['amount'] }}</span>
        </div>
        {% endif %}
    {% endfor %}
        <div class="RM">
            <img src="../static/icons/RM.png" >
            <!-- <span>{{ inventory['5']['name'] }}</span> -->
            <span class="itemCount">x{{ inventory['5']['amount'] }}</span>
        </div>
    </div>
</div>
{% endblock %}

