{% extends 'base.html' %}

{% block content %}
    <style>
        .content {
            flex-direction: column;
            position: relative;
            height: 100vh;
        }

        .container {
            display: flex;
            justify-content: space-between;
            list-style: none;
            width: -webkit-fill-available;
        }

        .pokemon {
            position: relative;
        }

        .pokeLevel {
            position: absolute;
            margin: 0;
            background-color: lightgray;
            top: -8px;
            left: -7px;
            border: 2px outset;
        }
    </style>
    <a href="/pokemonLevelUp">합성</a>
    <a href="/pokemonTraining">훈련</a>
    <h1>Default</h1>
    <ul class="default container">
        {% for _id in default %}
        <li class="{{ _id }} pokemon">
            <p class="pokeLevel">LEVEL {{ default[_id]['level']}}</p>
            <img src="../static/images/{{ default[_id]['id'] }}.png" />
            <p>{{ pokemons[default[_id]['id']]['name'] }}</p>
            <p>{{ (default[_id]['percent']|float * default[_id]['max'])|round|int }} ({{ (default[_id]['percent']|float * 100)|round|int }}%)</p>
        </li>
        {% endfor %}
    </ul>
    <h1>Working</h1>
    <ul class="working container">
        {% for _id in working %}
        <li class="{{ _id }} pokemon">
            <p class="pokeLevel">LEVEL {{ working[_id]['level']}}</p>
            <img src="../static/images/{{ working[_id]['id'] }}.png" />
            <p>{{ pokemons[working[_id]['id']]['name'] }}</p>
            <p>{{ (working[_id]['percent']|float * working[_id]['max'])|round|int }} ({{ (working[_id]['percent']|float * 100)|round|int }}%)</p>
        </li>
        {% endfor %}
    </ul>
    <h1>Resting</h1>
    <ul class="resting container">
    {% for _id in resting %}
    <li class="{{ _id }} pokemon">
        <p class="pokeLevel">LEVEL {{ resting[_id]['level']}}</p>
        <img src="../static/images/{{ resting[_id]['id'] }}.png" />
        <p>{{ pokemons[resting[_id]['id']]['name'] }}</p>
        <p>{{ (resting[_id]['percent']|float * resting[_id]['max'])|round|int }} ({{ (resting[_id]['percent']|float * 100)|round|int }}%)</p>
    </li>
    {% endfor %}
    </ul>
{% endblock %}