{% extends 'base.html' %}

{% block content %}
    <style>
        .container {
            width: 800px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .selectContainer {
            width: -webkit-fill-available;
            height: 185px;
            display: flex;
            justify-content: space-evenly;
            flex-shrink: 0;
        }

        .scItem {
            width: 150px;
            border: 1px solid;
            text-align: center;
        }

        .listContainer {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: inherit;
            height: auto;
            margin: 0;
            padding: 0;
            border: 1px solid;
        }
    </style>
    <div class="container">
        <div class="selectContainer">
            <div class="scItem selectPokemon">

            </div>
            <div class="scItem filterPokemon">

            </div>
        </div>
        <ul class="listContainer">
        </ul>
    </div>
    <script>
        const pokemons = JSON.parse('{{pokemons|tojson}}');
        const pokemonJSON = JSON.parse('{{default|tojson}}');
        let levelupBtn = [...getClass('pokemon')]

        // default 포켓몬 리스트를 만들어줌
        function listPokemon(type, json) {
            const listDivEle = getClass('listContainer')[0]
            listDivEle.innerHTML = ""
            if (type === 'list') {
                if (listDivEle.classList.contains('filter')) {
                    listDivEle.classList.remove('filter')   
                }
                listDivEle.classList.add('list')   
            } else if (type === 'filter') {
                if (listDivEle.classList.contains('list')) {
                    listDivEle.classList.remove('list')   
                }
                listDivEle.classList.add('filter') 
            }

            if (Object.keys(json).length == 0) {
                getClass('listContainer')[0].innerText = '합성할 수 있는 포켓몬이 없습니다.'
            } else {
                Object.keys(json).map(pokemon => {
                    const pokemonLiEle = document.createElement('li');
                    const pokemonImgEle = document.createElement('img');
                    const pokemonInfoEle = document.createElement('p');

                    pokemonLiEle.classList.add(pokemon, 'pokemon')

                    pokemonImgEle.src="../static/images/" + json[pokemon]['id'] + ".png";
                    pokemonInfoEle.innerText = pokemons[json[pokemon]['id']]['name'] + ', ' + json[pokemon]['level'] + ', ' + parseFloat(Math.round(json[pokemon]['percent'] * json[pokemon]['max'])) + " (" + parseInt(Math.round(parseFloat(json[pokemon]['percent']) * 100)) + "%)";

                    pokemonLiEle.appendChild(pokemonImgEle);
                    pokemonLiEle.appendChild(pokemonInfoEle);
                    getClass('listContainer')[0].appendChild(pokemonLiEle)
            })
            }
            
            levelupBtn = [...getClass('pokemon')]
            levelupBtn.forEach(btn => {
                btn.addEventListener('click', () => {
                    const pokemonID = btn.classList[0];
                    if (btn.parentElement.classList[1] === 'list') {
                        selectPokemon('select', pokemonID, json)
                    pokemonFilter(pokemonID, pokemonJSON[pokemonID]['id'], pokemonJSON[pokemonID]['level'])
                    } else if (btn.parentElement.classList[1] === 'filter') {
                        selectPokemon('filter', pokemonID, json)
                    }
                })
            })
        }

        listPokemon('list', pokemonJSON)

        // 합성할 포켓몬 선택
        function selectPokemon(type, pokemonID, json) {
            let second = 0;

            const selectPokemonDivEle = document.createElement('div');
            const selectPokemonImgEle = document.createElement('img');
            const selectPokemonInfoEle = document.createElement('p');

            selectPokemonDivEle.classList.add(pokemonID);

            selectPokemonImgEle.src="../static/images/" + json[pokemonID]['id'] + ".png";
            selectPokemonInfoEle.innerText = pokemons[json[pokemonID]['id']]['name'] + ', ' + json[pokemonID]['level'] + ', ' + parseFloat(Math.round(json[pokemonID]['percent'] * json[pokemonID]['max'])) + " (" + parseInt(Math.round(parseFloat(json[pokemonID]['percent']) * 100)) + "%)";

            selectPokemonDivEle.appendChild(selectPokemonImgEle);
            selectPokemonDivEle.appendChild(selectPokemonInfoEle);

            if (type === 'select') {
                getClass('selectPokemon')[0].innerHTML = ""

                const reSelect = document.createElement('button');
                reSelect.classList.add('reSelect')
                reSelect.innerText = '다시 고르기'
                selectPokemonDivEle.appendChild(reSelect)
                getClass('selectPokemon')[0].appendChild(selectPokemonDivEle)

                
            } else if (type === 'filter') {
                getClass('filterPokemon')[0].innerHTML = ""

                const levelup = document.createElement('button');
                levelup.classList.add('levelup')
                levelup.innerText = '합성하기'
                selectPokemonDivEle.appendChild(levelup)
                getClass('filterPokemon')[0].appendChild(selectPokemonDivEle)

                second = pokemonID
            }

            // 다시 고르기 버튼
            getClass('reSelect')[0].addEventListener('click', (e) => {
                first = pokemonID
                listPokemon('list', pokemonJSON)
                getClass('selectPokemon')[0].innerHTML = ""
            })

            // 합성하기 버튼 -> post
            if (second > 0) {
                getClass('levelup')[0].addEventListener('click', async (e) => {

                    const post = await fetch('/pokemonLevelUp', {
                        method: 'POST',
                        cache: 'no-cache',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: new URLSearchParams({
                            first: getClass('selectPokemon')[0].children[0].classList[0],
                            second: second
                        })
                    })
                    
                    const data = await post.json();

                    if (data === true) {
                        alert('성공')

                        listPokemon('list', pokemonJSON)
                        getClass('selectPokemon')[0].innerHTML = ""
                    } else {
                        alert('실패')
                    }
                })
            }
            
        }

        // 선택한 포켓몬과 합성할 수 있는 포켓몬 필터링
        function pokemonFilter(selectPokemon, id, level) {
            const filterPokemon = Object.keys(pokemonJSON).filter(pokemon => {
                return pokemonJSON[pokemon]['id'] === id && pokemonJSON[pokemon]['level'] === level && pokemon !== selectPokemon
            })

            let filterJSON = {};
            filterPokemon.forEach(pokemon => {
                filterJSON[pokemon] = pokemonJSON[pokemon]
                
            })

            listPokemon('filter', filterJSON)
        }
    </script>
{% endblock %}