{% extends 'base.html' %}

{% block content %}
<!-- 포케몬 페이지 이동 메뉴(러닝, 합성, 훈련) -->
{% include 'pokemonRunMenu.html' %}
    <div id="pokemons" style="display: none;">{{ pokemons|tojson }}</div>
    <div id="default" style="display: none;">{{ default|tojson }}</div>
    <div class="levelUpContainer">
        <div class="selectContainer">
            <div class="scItem selectPokemon">

            </div>
            <div class="scItem filterPokemon">

            </div>
        </div>
        <select id="pokemonSort">
            <option value="catchId">잡은순</option>
            <option value="pokemonId">아이디순</option>
        </select>
        <ul class="listContainer">
        </ul>
    </div>

    <div id="levelup_result_container">
        <div id="levelup_result_text">
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="../static/pokemonLevelUp.js"></script>
{% endblock %}  