{% extends 'base.html' %}

{% block content %}
<i class="far fa-question-circle" data-info-text="포켓몬을 훈련시켜 강화할 수 있습니다."></i>

<!-- 포케몬 페이지 이동 메뉴(러닝, 합성, 훈련) -->
{% include 'pokemonRunMenu.html' %}
    <div id="default" style="display: none;">{{ default }}</div>
    <div id="pokemons" style="display: none;">{{ pokemons }}</div>

    <div id="trainingContainer">
        <div class="selectContainer">
            <div class="scItem selectPokemon">

            </div>
        </div>
        <select id="pokemonSort">
            <option value="catchId">잡은순</option>
            <option value="pokemonId">아이디순</option>
        </select>
        <ul class="listContainer">
        </ul>
    </div>

    <div id="result_container" class="popup">
        <div id="result_text">
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="../static/pokemonTraining.js"></script>
{% endblock %}  