{% extends 'base.html' %}

{% block content %}
    <div id="pokemons" style="display: none;">{{ pokemons|tojson }}</div>
    <div id="default" style="display: none;">{{ default|tojson }}</div>
    <div class="LevelUpContainer">
        <div class="selectContainer">
            <div class="scItem selectPokemon">

            </div>
            <div class="scItem filterPokemon">

            </div>
        </div>
        <ul class="listContainer">
        </ul>
    </div>
{% endblock %}
{% block js %}
    <script src="../static/pokemonLevelUp.js"></script>
{% endblock %}  