{% extends 'base.html' %}

{% block content %}
    <div id="myRM" style="display: none;">{{ myRM }}</div>
    <div id="pokemons" style="display: none;">{{ pokemons }}</div>
    <div id="myPokemons" style="display: none;">{{ mypokemon }}</div>
    
    <!-- 포케몬 페이지 이동 메뉴(러닝, 합성, 훈련) -->
    {% include 'pokemonRunMenu.html' %}
    
    <section class="working container">
        <h5></h5>
        <div class="pokeContainer">
        </div>
        <i class="far fa-question-circle" data-info-run-text="러닝머신을 통해 coin을 벌 수 있습니다."></i>
    </section>
    <section class="resting container">
        <h5>휴식</h5>
        <div class="pokeContainer">
        </div>
        <i class="far fa-question-circle" data-info-run-text="hp를 충전할 수 있습니다."></i>
    </section>

    <section class="default container">
        <h5>보유 포켓몬</h5>
        <div class="pokeContainer">
        </div>
    </section>

    <div id="result_container" class="popup">
        <div id="result_text">
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="../static/pokemonRun.js"></script>
{% endblock %}  