{% extends 'base.html' %}

{% block content %}
    <style>
        #pokemons {
            list-style: none;
            padding: 0px 5em;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
        }
    </style>
    <div>
        정렬
        <select id="pokemonSort">
            <option value="">기본순</option>
            <option value="name">이름순</option>
            <option value="efficiency">효율성순</option>
        </select>
    </div>
    <ul id="pokemons">
    </ul>
    <script>
        let pokemonJSON = JSON.parse('{{ datas|tojson }}')
        const pokemonsUl = getID('pokemons');
        createPokemons(Object.values(pokemonJSON))

        getID('pokemonSort').addEventListener('change', (e) => {

            let pokemonSort = jsonSort(String(e.target.value))
            createPokemons(pokemonSort)
            
        })

        function createPokemons(pokemonSort) {
            pokemonsUl.innerHTML = ""
            pokemonSort.forEach(poke => {
                let pokemonLi = document.createElement('li');
                let pokemonA = document.createElement('a');
                let pokemonImg = document.createElement('img');
                let pokemonName = document.createElement('div');
                let pokemonEfficiency = document.createElement('div');

                pokemonA.href="/pokemonDetail/"+poke['id'];

                pokemonImg.src="../static/images/"+poke['id']+".png";
                pokemonName.innerText = poke['name']
                pokemonEfficiency.innerText = poke['efficiency']

                pokemonA.appendChild(pokemonImg)
                pokemonA.appendChild(pokemonName)
                pokemonA.appendChild(pokemonEfficiency)

                pokemonLi.appendChild(pokemonA)

                pokemonsUl.appendChild(pokemonLi)
            })
        }

        function jsonSort(val) {
            return Object.values(pokemonJSON).sort(function(a, b) {
                let x = a[val]
                let y = b[val]

                return (x< y) ? -1 : (x > y) ? 1 : 0;
            })
        }

        // console.log(jsonSort('name'))
    </script>
{% endblock %}