{% extends 'base.html' %}

{% block content %}
    <div id="myRM" style="display: none;">{{ myRM }}</div>
    <div id="pokemons" style="display: none;">{{ pokemons }}</div>
    <div id="myPokemons" style="display: none;">{{ mypokemon }}</div>
    <a class="btn1" href="/pokemonLevelUp">합성</a>
    <a class="btn2" href="/pokemonTraining">훈련</a>
    <section class="working container">
        <h1>헬스장</h1>
        <div class="pokeContainer">
        </div>
    </section>
    <section class="resting container">
        <h1>쉼터</h1>
        <div class="pokeContainer">
        </div>
    </section>
    <section class="default container">
        <h1></h1>
        <div class="pokeContainer">
        </div>
    </section>
{% endblock %}
{% block js %}
    <script src="../static/pokemonRun.js"></script>
{% endblock %}  