{%  extends 'base.html' %}

{% block content %}
    <div id="catchDiv"></div>
    <div id="catchBtns">
        <button class="catchBtn">찾기</button>

        {% for _id in userball %}
        {% if loop.index == 1 %}
            <div class="ball select" ball_id={{ loop.index }} >
        {% else %}
            <div class="ball" ball_id={{ loop.index }} >
        {% endif %}
                <div class="ball_amount">{{ _id['amount'] }}</div>
            </div>
        {% endfor %}
    </div>
    <script src="../static/pokemonCatch.js"></script>
{% endblock %}