{%  extends 'base.html' %}

{% block content %}
<div class="myPokemon" style="display: none;">{{ myPokemon|tojson }}</div>

<div id="catchContainer">
    <div id="catchDiv"></div>
</div>

<div id="catchBtns">
    {% for _id in userball %}
    {% if loop.index == 1 %}
        <div class="ball select" ball_id={{ loop.index }} >
    {% else %}
        <div class="ball" ball_id={{ loop.index }} >
    {% endif %}
            <div class="ball_amount">x{{ _id['amount'] }}</div>
        </div>
    {% endfor %}
</div>
<div id="catchResultPopUp">
    <div id="popupText">
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="../static/pokemonCatch.js"></script>
{% endblock %}  